n8n/n8n_workflow_sankhya_ordens_carga_native.json
{
  "name": "PCP | 15A | Sankhya | Ordens de Carga Native",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1240,
        220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1240,
        60
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1000,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sankhya.com.br/authenticate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "X-Token",
              "value": "PREENCHER_X_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "PREENCHER_CLIENT_ID"
            },
            {
              "name": "client_secret",
              "value": "PREENCHER_CLIENT_SECRET"
            }
          ]
        },
        "options": {}
      },
      "id": "authenticate-sankhya",
      "name": "HTTP Request | Authenticate Sankhya",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const accessToken = $json.access_token || $json.accessToken || $json.token || (($json.data || {}).access_token) || (($json.data || {}).accessToken) || (($json.data || {}).token) || '';\nconst rawAuthorization = $json.authorization || $json.Authorization || (($json.data || {}).authorization) || (($json.data || {}).Authorization) || '';\nconst authorization = rawAuthorization || (accessToken ? (String(accessToken).startsWith('Bearer ') ? String(accessToken) : `Bearer ${accessToken}`) : '');\nif (!authorization) {\n  throw new Error('Bearer Sankhya ausente. Ajuste o node de autenticacao para retornar authorization ou access_token.');\n}\nconst CONFIG = {\n  source_code: 'romaneio_sankhya_webhook',\n  workflow_name: 'PCP | 15A | Sankhya | Ordens de Carga Native',\n  list_url: 'https://api.sankhya.com.br/v1/logistica/ordens-carga',\n  detail_url_template: 'https://api.sankhya.com.br/v1/logistica/empresas/{codigoEmpresa}/ordens-carga/{codigoOrdemCarga}',\n  codigo_empresa: '',\n  modified_since: '',\n  start_page: 0,\n  max_pages: 3,\n  include_empty_items: false\n};\nreturn Array.from({ length: CONFIG.max_pages }, (_, offset) => ({\n  json: {\n    ...CONFIG,\n    page: CONFIG.start_page + offset,\n    authorization,\n    auth_response_preview: {\n      token_type: $json.token_type || (($json.data || {}).token_type) || '',\n      expires_in: $json.expires_in || (($json.data || {}).expires_in) || null\n    }\n  }\n}));"
      },
      "id": "build-config-pages",
      "name": "Build Config and Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.list_url + '?page=' + $json.page + ($json.codigo_empresa ? '&codigoEmpresa=' + encodeURIComponent($json.codigo_empresa) : '') + ($json.modified_since ? '&modifiedSince=' + encodeURIComponent($json.modified_since) : '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "id": "list-ordens",
      "name": "HTTP Request | Lista Ordens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Build Config and Pages').item.json;\nfunction cleanText(value) {\n  return String(value ?? '').replace(/\\s+/g, ' ').trim();\n}\nfunction parseBool(value) {\n  return ['1', 'true', 'yes', 'y', 'sim'].includes(cleanText(value).toLowerCase());\n}\nfunction extractOrderBatch(payload) {\n  if (Array.isArray(payload)) {\n    for (const entry of payload) {\n      const found = extractOrderBatch(entry);\n      if (found.orders.length) {\n        return found;\n      }\n    }\n    return { orders: [], pagination: {}, hasMore: false };\n  }\n  if (payload && typeof payload === 'object') {\n    if (Array.isArray(payload.ordensCarga)) {\n      const pagination = payload.pagination && typeof payload.pagination === 'object' ? payload.pagination : {};\n      return {\n        orders: payload.ordensCarga.filter((item) => item && typeof item === 'object'),\n        pagination,\n        hasMore: parseBool(pagination.hasMore)\n      };\n    }\n    for (const key of ['data', 'items', 'results', 'records', 'content', 'rows', 'value', 'response']) {\n      const value = payload[key];\n      if (Array.isArray(value)) {\n        return {\n          orders: value.filter((item) => item && typeof item === 'object'),\n          pagination: {},\n          hasMore: false\n        };\n      }\n    }\n  }\n  return { orders: [], pagination: {}, hasMore: false };\n}\nconst { orders, pagination, hasMore } = extractOrderBatch($json);\nreturn orders.map((order) => {\n  const codigoEmpresa = cleanText(order.codigoEmpresa ?? cfg.codigo_empresa ?? '');\n  const codigoOrdemCarga = cleanText(order.codigoOrdemCarga ?? order.codigo ?? order.codOrdemCarga ?? '');\n  if (!codigoEmpresa || !codigoOrdemCarga) {\n    return null;\n  }\n  const detailUrl = cfg.detail_url_template\n    .replace('{codigoEmpresa}', encodeURIComponent(codigoEmpresa))\n    .replace('{codigoOrdemCarga}', encodeURIComponent(codigoOrdemCarga));\n  return {\n    json: {\n      source_code: cfg.source_code,\n      workflow_name: cfg.workflow_name,\n      authorization: cfg.authorization,\n      include_empty_items: cfg.include_empty_items,\n      order_row: order,\n      detail_url: detailUrl,\n      page: cfg.page,\n      pagination,\n      has_more: hasMore,\n      auth_response_preview: cfg.auth_response_preview || {}\n    }\n  };\n}).filter(Boolean);"
      },
      "id": "expand-ordens",
      "name": "Expand Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.detail_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "id": "detail-ordem",
      "name": "HTTP Request | Detalhe Ordem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Expand Orders').item.json;\nconst orderRow = source.order_row || {};\nconst detailPayload = $json;\nfunction cleanText(value) {\n  return String(value ?? '').replace(/\\s+/g, ' ').trim();\n}\nfunction parseNumber(value) {\n  if (value === null || value === undefined || value === '') return 0;\n  if (typeof value === 'number') return value;\n  let text = cleanText(value);\n  if (!text) return 0;\n  if (text.includes(',') && text.includes('.')) {\n    if (text.lastIndexOf(',') > text.lastIndexOf('.')) {\n      text = text.replace(/\\./g, '').replace(',', '.');\n    } else {\n      text = text.replace(/,/g, '');\n    }\n  } else {\n    text = text.replace(',', '.');\n  }\n  const parsed = Number(text);\n  return Number.isFinite(parsed) ? parsed : 0;\n}\nfunction parseDateTime(value, fallback) {\n  const text = cleanText(value);\n  if (!text) return fallback;\n  const normalized = text.endsWith('Z') ? text : text;\n  const isoTry = new Date(normalized);\n  if (!Number.isNaN(isoTry.getTime())) return isoTry.toISOString();\n  const dateTimeMatch = normalized.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})(?:\\s+(\\d{2}):(\\d{2})(?::(\\d{2}))?)?$/);\n  if (dateTimeMatch) {\n    const [, dd, mm, yyyy, hh = '00', mi = '00', ss = '00'] = dateTimeMatch;\n    return new Date(Date.UTC(Number(yyyy), Number(mm) - 1, Number(dd), Number(hh), Number(mi), Number(ss))).toISOString();\n  }\n  const dateOnlyMatch = normalized.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (dateOnlyMatch) {\n    const [, yyyy, mm, dd] = dateOnlyMatch;\n    return new Date(Date.UTC(Number(yyyy), Number(mm) - 1, Number(dd), 0, 0, 0)).toISOString();\n  }\n  return fallback;\n}\nfunction buildEventTimestamp(dateValue, timeValue, fallback) {\n  const dateText = cleanText(dateValue);\n  const timeText = cleanText(timeValue) || '00:00';\n  return dateText ? parseDateTime(`${dateText} ${timeText}`, fallback) : fallback;\n}\nfunction getNested(payload, path) {\n  return path.split('.').reduce((acc, part) => (acc && typeof acc === 'object' ? acc[part] : undefined), payload);\n}\nfunction pickFirst(payloads, paths) {\n  for (const payload of payloads) {\n    if (!payload || typeof payload !== 'object') continue;\n    for (const path of paths) {\n      const value = getNested(payload, path);\n      if (value !== undefined && value !== null && value !== '' && !(Array.isArray(value) && !value.length)) {\n        return value;\n      }\n    }\n  }\n  return undefined;\n}\nfunction findFirstMapping(payload, depth = 0) {\n  if (depth > 6) return {};\n  if (payload && typeof payload === 'object' && !Array.isArray(payload)) {\n    for (const key of ['data', 'item', 'result', 'response', 'ordemCarga', 'ordem_carga', 'ordensCarga']) {\n      if (payload[key] && typeof payload[key] === 'object' && !Array.isArray(payload[key])) {\n        const found = findFirstMapping(payload[key], depth + 1);\n        if (Object.keys(found).length) return found;\n      }\n    }\n    return payload;\n  }\n  if (Array.isArray(payload)) {\n    for (const item of payload) {\n      const found = findFirstMapping(item, depth + 1);\n      if (Object.keys(found).length) return found;\n    }\n  }\n  return {};\n}\nfunction normalizeItem(rawItem) {\n  const sku = cleanText(rawItem.sku ?? rawItem.codigoProduto ?? rawItem.codProduto ?? getNested(rawItem, 'produto.codigo') ?? getNested(rawItem, 'produto.codigoProduto') ?? '');\n  const descricao = cleanText(rawItem.descricao ?? rawItem.descricaoProduto ?? rawItem.nomeProduto ?? rawItem.produto ?? getNested(rawItem, 'produto.descricao') ?? getNested(rawItem, 'produto.nome') ?? '');\n  const unidade = cleanText(rawItem.unidade ?? rawItem.unidadeMedida ?? rawItem.siglaUnidade ?? 'UN') || 'UN';\n  const tipoProduto = cleanText(rawItem.tipo_produto ?? rawItem.tipoProduto ?? getNested(rawItem, 'produto.tipoProduto') ?? getNested(rawItem, 'produto.tipo') ?? 'PRODUTO ACABADO') || 'PRODUTO ACABADO';\n  const quantidade = parseNumber(rawItem.quantidade ?? rawItem.qtd ?? rawItem.quantidadeTotal ?? rawItem.qtdTotal ?? rawItem.quantidadeSeparada ?? 0);\n  const quantidadeNeg = parseNumber(rawItem.quantidade_neg ?? rawItem.quantidadeNeg ?? rawItem.quantidadeNegociada ?? rawItem.qtdNegociada ?? 0);\n  const quantidadeVol = parseNumber(rawItem.quantidade_vol ?? rawItem.quantidadeVol ?? rawItem.quantidadeVolume ?? rawItem.qtdVolume ?? 0);\n  const quantityTotal = Math.max(quantidade, quantidadeNeg + quantidadeVol);\n  if (!sku && !descricao) return null;\n  const produto = cleanText(sku && descricao ? `${sku} - ${descricao}` : (descricao || sku));\n  return {\n    sku,\n    descricao: descricao || produto,\n    produto,\n    unidade,\n    tipo_produto: tipoProduto,\n    quantidade: Number((quantidade || quantityTotal).toFixed(6)),\n    quantidade_neg: Number(quantidadeNeg.toFixed(6)),\n    quantidade_vol: Number(quantidadeVol.toFixed(6)),\n    quantity_total: Number(quantityTotal.toFixed(6))\n  };\n}\nfunction extractItems(payload) {\n  if (!payload || payload === '' || (Array.isArray(payload) && !payload.length)) return [];\n  const candidates = [];\n  if (Array.isArray(payload)) {\n    candidates.push(payload);\n  } else if (payload && typeof payload === 'object') {\n    for (const path of ['itens', 'items', 'produtos', 'pedidoItens', 'itensPedido', 'pedidos', 'data', 'ordensCarga.itens', 'ordensCarga.items', 'ordensCarga.produtos']) {\n      const value = getNested(payload, path);\n      if (Array.isArray(value)) candidates.push(value);\n    }\n  }\n  for (const candidate of candidates) {\n    const normalized = [];\n    for (const item of candidate) {\n      if (!item || typeof item !== 'object') continue;\n      if (['itens', 'items', 'produtos', 'pedidoItens', 'itensPedido'].some((key) => Array.isArray(item[key]))) {\n        normalized.push(...extractItems(item));\n        continue;\n      }\n      const prepared = normalizeItem(item);\n      if (prepared && prepared.quantity_total > 0) normalized.push(prepared);\n    }\n    if (normalized.length) return normalized;\n  }\n  return [];\n}\nfunction hashText(text) {\n  let hash = 0;\n  for (let index = 0; index < text.length; index += 1) {\n    hash = ((hash << 5) - hash) + text.charCodeAt(index);\n    hash |= 0;\n  }\n  return Math.abs(hash).toString(16);\n}\nconst detailObj = findFirstMapping(detailPayload);\nconst payloads = [detailObj, orderRow];\nconst codigo = cleanText(pickFirst(payloads, ['codigoOrdemCarga', 'codigo', 'codOrdemCarga', 'nuOrdemCarga', 'numero', 'romaneio']) ?? '');\nconst empresa = cleanText(pickFirst(payloads, ['codigoEmpresa', 'codEmp', 'empresa.codigo', 'empresa']) ?? '') || 'INPLAST';\nif (!codigo) {\n  return [];\n}\nconst nowIso = new Date().toISOString();\nconst rawEventAt = pickFirst(payloads, ['dataAlteracao', 'dhAlter', 'ultimaAlteracao', 'modifiedAt', 'modifiedSince', 'dataHoraAlteracao', 'dataCadastro']);\nconst eventAt = rawEventAt ? parseDateTime(rawEventAt, nowIso) : buildEventTimestamp(\n  pickFirst(payloads, ['dataPrevistaSaida', 'dataInicio', 'data']),\n  pickFirst(payloads, ['horaSaida', 'hora']),\n  nowIso\n);\nconst status = cleanText(pickFirst(payloads, ['situacao', 'status', 'statusOrdemCarga']) ?? 'aberto') || 'aberto';\nconst parceiro = cleanText(pickFirst(payloads, ['parceiro', 'nomeParceiro', 'cliente', 'destinatario']) ?? '');\nconst cidade = cleanText(pickFirst(payloads, ['cidade', 'nomeCidade', 'municipio', 'destinoCidade', 'nomeRegiao']) ?? '');\nconst pedido = cleanText(pickFirst(payloads, ['pedido', 'codigoPedido', 'numeroPedido']) ?? '');\nconst valorTotal = Number(parseNumber(pickFirst(payloads, ['valorTotal', 'valor_total', 'vlrTotal', 'total']) ?? 0).toFixed(2));\nlet items = extractItems(detailObj);\nif (!items.length) {\n  items = extractItems(detailPayload);\n}\nif (!items.length) {\n  items = extractItems(orderRow);\n}\nif (!items.length && !source.include_empty_items) {\n  return [];\n}\nconst fingerprintSource = JSON.stringify({ codigo, empresa, status, pedido, parceiro, cidade, valorTotal, itemCount: items.length, items });\nconst eventId = `${source.source_code}:${codigo}:${eventAt.replace(/[:\\-]/g, '').replace('.000Z', 'Z')}:${hashText(fingerprintSource)}`;\nreturn [{\n  json: {\n    source_code: source.source_code,\n    workflow_name: source.workflow_name,\n    payload: {\n      event_id: eventId,\n      event_type: 'update',\n      event_at: eventAt,\n      romaneio: {\n        codigo,\n        empresa,\n        status,\n        pedido,\n        parceiro,\n        cidade,\n        valor_total: valorTotal,\n        itens: items\n      }\n    },\n    meta: {\n      polling: true,\n      native_n8n: true,\n      workflow_name: source.workflow_name,\n      auth_response_preview: source.auth_response_preview || {},\n      page: source.page,\n      pagination: source.pagination || {},\n      order_row: orderRow,\n      detail_wrapper_keys: Object.keys(detailPayload || {})\n    }\n  }\n}];"
      },
      "id": "normalize-romaneio-event",
      "name": "Normalize Romaneio Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const esc = (value) => JSON.stringify(value ?? {}).replace(/'/g, \"''\");\nconst escText = (value) => String(value ?? '').replace(/'/g, \"''\");\nconst romaneio = ($json.payload || {}).romaneio || {};\nconst eventId = escText(($json.payload || {}).event_id || '');\nconst romaneioCode = escText(romaneio.codigo || '');\nconst itemCount = Array.isArray(romaneio.itens) ? romaneio.itens.length : 0;\nconst sql = `select jsonb_build_object(\\n  'event_id','${eventId}',\\n  'romaneio_code','${romaneioCode}',\\n  'item_count',${itemCount},\\n  'ingest', ops.ingest_romaneio_event_payload(\\n    '${escText($json.source_code || 'romaneio_sankhya_webhook')}',\\n    '${esc($json.payload)}'::jsonb,\\n    '${esc($json.meta)}'::jsonb\\n  )\\n) as result;`;\nreturn [{ json: { ...$json, sql_query: sql } }];"
      },
      "id": "build-romaneio-sql",
      "name": "Build Romaneio SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "id": "postgres-ingest-romaneio",
      "name": "Postgres | Ingest Romaneio Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $json || {};\nlet result = row.result ?? row;\nif (typeof result === 'string') {\n  try {\n    result = JSON.parse(result);\n  } catch (error) {\n    result = { status: 'unknown', raw_result: row.result };\n  }\n}\nconst ingest = result.ingest || {};\nreturn [{\n  json: {\n    ok: ['processed', 'duplicate_ignored', 'noop'].includes(ingest.status || result.status),\n    workflow: 'PCP | 15A | Sankhya | Ordens de Carga Native',\n    mode: 'polling_native',\n    ...result,\n    ingest\n  }\n}];"
      },
      "id": "build-workflow-result",
      "name": "Build Workflow Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        140
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "HTTP Request | Authenticate Sankhya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Authenticate Sankhya": {
      "main": [
        [
          {
            "node": "Build Config and Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config and Pages": {
      "main": [
        [
          {
            "node": "HTTP Request | Lista Ordens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Lista Ordens": {
      "main": [
        [
          {
            "node": "Expand Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Orders": {
      "main": [
        [
          {
            "node": "HTTP Request | Detalhe Ordem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Detalhe Ordem": {
      "main": [
        [
          {
            "node": "Normalize Romaneio Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Romaneio Event": {
      "main": [
        [
          {
            "node": "Build Romaneio SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Romaneio SQL": {
      "main": [
        [
          {
            "node": "Postgres | Ingest Romaneio Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres | Ingest Romaneio Event": {
      "main": [
        [
          {
            "node": "Build Workflow Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "82f7329e-0fe4-4f52-928f-33a6a6f50f0b",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
