n8n/n8n_workflow_sankhya_ordens_carga_poll.json
{
  "name": "PCP | 15 | Sankhya | Ordens de Carga Poll",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1060,
        60
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -820,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const repoRoot = $env.PCP_REPO_ROOT || '/opt/saars.inplast';\nreturn [{\n  json: {\n    source_code: 'romaneio_sankhya_webhook',\n    script_path: `${repoRoot}/scripts/sankhya_ordens_carga_poll.py`,\n    workflow_name: 'PCP | 15 | Sankhya | Ordens de Carga Poll',\n    list_url: $env.SANKHYA_ORDENS_CARGA_LIST_URL || 'https://api.sankhya.com.br/v1/logistica/ordens-carga',\n    detail_url_template: $env.SANKHYA_ORDENS_CARGA_DETAIL_URL_TEMPLATE || 'https://api.sankhya.com.br/v1/logistica/empresas/{codigoEmpresa}/ordens-carga/{codigoOrdemCarga}',\n    pedidos_url_template: $env.SANKHYA_ORDENS_CARGA_PEDIDOS_URL_TEMPLATE || '',\n    authorization: $env.SANKHYA_AUTHORIZATION || '',\n    codigo_empresa: $env.SANKHYA_CODIGO_EMPRESA || '',\n    modified_since: $env.SANKHYA_ORDENS_CARGA_MODIFIED_SINCE || '',\n    page: Number($env.SANKHYA_ORDENS_CARGA_PAGE || '1'),\n    max_pages: Number($env.SANKHYA_ORDENS_CARGA_MAX_PAGES || '1'),\n    include_empty_items: ['1', 'true', 'yes'].includes(String($env.SANKHYA_ORDENS_CARGA_INCLUDE_EMPTY_ITEMS || '').toLowerCase())\n  }\n}];"
      },
      "id": "build-poll-config",
      "name": "Build Poll Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        140
      ]
    },
    {
      "parameters": {
        "command": "=python3 \"{{$json.script_path}}\" --list-url \"{{$json.list_url}}\" --detail-url-template \"{{$json.detail_url_template}}\" --pedidos-url-template \"{{$json.pedidos_url_template}}\" --authorization \"{{$json.authorization}}\" --source-code \"{{$json.source_code}}\" --codigo-empresa \"{{$json.codigo_empresa}}\" --modified-since \"{{$json.modified_since}}\" --page \"{{$json.page}}\" --max-pages \"{{$json.max_pages}}\" {{ $json.include_empty_items ? '--include-empty-items' : '' }}"
      },
      "id": "run-sankhya-poll",
      "name": "Run Sankhya Poll",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -320,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.stdout || '{}');\nreturn [{ json: payload }];"
      },
      "id": "parse-poll-output",
      "name": "Parse Poll Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const esc = (value) => JSON.stringify(value ?? {}).replace(/'/g, \"''\");\nconst escText = (value) => String(value ?? '').replace(/'/g, \"''\");\nconst events = Array.isArray($json.events) ? $json.events : [];\nconst meta = {\n  polling: true,\n  workflow_name: 'PCP | 15 | Sankhya | Ordens de Carga Poll',\n  fetched_at: $json.fetched_at,\n  summary: $json.summary || {}\n};\nlet sql;\nif (!events.length) {\n  sql = `select jsonb_build_object('status','noop','processed',false,'event_count',0,'summary','${esc(meta.summary)}'::jsonb) as result;`;\n} else {\n  sql = `with src as (\\n  select value as payload\\n  from jsonb_array_elements('${esc(events)}'::jsonb)\\n),\\ningested as (\\n  select ops.ingest_romaneio_event_payload(\\n    '${escText($json.source_code || 'romaneio_sankhya_webhook')}',\\n    payload,\\n    '${esc(meta)}'::jsonb\\n  ) as result\\n  from src\\n)\\nselect jsonb_build_object(\\n  'status','processed',\\n  'processed',true,\\n  'event_count',(select count(*) from src),\\n  'results',coalesce(jsonb_agg(result), '[]'::jsonb),\\n  'summary','${esc(meta.summary)}'::jsonb\\n) as result\\nfrom ingested;`;\n}\nreturn [{ json: { ...$json, sql_query: sql } }];"
      },
      "id": "build-romaneio-sql",
      "name": "Build Romaneio SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "id": "postgres-ingest-romaneio",
      "name": "Postgres | Ingest Romaneio Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $json || {};\nlet result = row.result ?? row;\nif (typeof result === 'string') {\n  try {\n    result = JSON.parse(result);\n  } catch (error) {\n    result = { status: 'unknown', raw_result: row.result };\n  }\n}\nconst ok = ['processed', 'duplicate_ignored', 'noop'].includes(result.status);\nreturn [{\n  json: {\n    ok,\n    workflow: 'PCP | 15 | Sankhya | Ordens de Carga Poll',\n    mode: 'polling',\n    ...result\n  }\n}];"
      },
      "id": "build-workflow-result",
      "name": "Build Workflow Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        140
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Build Poll Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Poll Config": {
      "main": [
        [
          {
            "node": "Run Sankhya Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Sankhya Poll": {
      "main": [
        [
          {
            "node": "Parse Poll Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Poll Output": {
      "main": [
        [
          {
            "node": "Build Romaneio SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Romaneio SQL": {
      "main": [
        [
          {
            "node": "Postgres | Ingest Romaneio Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres | Ingest Romaneio Event": {
      "main": [
        [
          {
            "node": "Build Workflow Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef84dc6c-4f89-4ecf-9ee6-b4fc54e7beea",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
