n8n/n8n_workflow_almoxarifado_ingest.json
{
  "name": "PCP | 12 | Almoxarifado | Ingestao",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1100,
        60
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-triggers",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -860,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const snapshotAt = new Date().toISOString();\nconst repoRoot = $env.PCP_REPO_ROOT || '/opt/saars.inplast';\nconst workbookPath = $env.PCP_ALMOX_WORKBOOK || '/data/ingest/Estoque Almoxarifado.xlsx';\nreturn [\n  {\n    json: {\n      source_code: 'estoque_materia_prima_almoxarifado',\n      parser_path: `${repoRoot}/parsers/parse_estoque_almoxarifado_mp.py`,\n      runner_path: `${repoRoot}/parsers/run_inventory_parser.py`,\n      workbook_path: workbookPath,\n      snapshot_at: snapshotAt,\n      workflow_name: 'PCP | 12 | Almoxarifado | Ingestao'\n    }\n  },\n  {\n    json: {\n      source_code: 'estoque_componente_almoxarifado',\n      parser_path: `${repoRoot}/parsers/parse_estoque_almoxarifado_componentes.py`,\n      runner_path: `${repoRoot}/parsers/run_inventory_parser.py`,\n      workbook_path: workbookPath,\n      snapshot_at: snapshotAt,\n      workflow_name: 'PCP | 12 | Almoxarifado | Ingestao'\n    }\n  }\n];"
      },
      "id": "build-source-queue",
      "name": "Build Source Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        140
      ]
    },
    {
      "parameters": {
        "command": "=python3 \"{{$json.runner_path}}\" --source-code \"{{$json.source_code}}\" --parser-path \"{{$json.parser_path}}\" --workbook-path \"{{$json.workbook_path}}\" --snapshot-at \"{{$json.snapshot_at}}\" --workflow-name \"{{$json.workflow_name}}\""
      },
      "id": "run-parser-envelope",
      "name": "Run Parser Envelope",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -360,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = JSON.parse($json.stdout || '{}');\nreturn [{ json: payload }];"
      },
      "id": "parse-envelope",
      "name": "Parse Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const esc = (value) => JSON.stringify(value ?? {}).replace(/'/g, \"''\");\nconst escText = (value) => String(value ?? '').replace(/'/g, \"''\");\nconst sql = `select ops.ingest_inventory_payload(\\n  '${escText($json.source_code)}',\\n  '${escText($json.snapshot_at)}'::timestamptz,\\n  '${esc($json.records)}'::jsonb,\\n  '${esc($json.meta)}'::jsonb\\n) as run_id;`;\nreturn [{ json: { ...$json, sql_query: sql } }];"
      },
      "id": "build-sql",
      "name": "Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "id": "postgres-ingest",
      "name": "Postgres | Ingest Inventory Payload",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        380,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "const dbRows = $json;\nreturn [{\n  json: {\n    status: 'ok',\n    db_result: dbRows,\n    note: 'Configure as credenciais do node Postgres antes do primeiro uso.'\n  }\n}];"
      },
      "id": "build-result",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        140
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Build Source Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Source Queue": {
      "main": [
        [
          {
            "node": "Run Parser Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Parser Envelope": {
      "main": [
        [
          {
            "node": "Parse Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Envelope": {
      "main": [
        [
          {
            "node": "Build SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL": {
      "main": [
        [
          {
            "node": "Postgres | Ingest Inventory Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres | Ingest Inventory Payload": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fd09010-4bd5-4df8-9d07-0d8a2e1ecf39",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
