n8n/n8n_workflow_sankhya_ordens_carga_native.json
{
  "name": "PCP | 15A | Sankhya | Ordens de Carga Native",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1240,
        220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1240,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sankhya.com.br/authenticate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "X-Token",
              "value": "PREENCHER_X_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "PREENCHER_CLIENT_ID"
            },
            {
              "name": "client_secret",
              "value": "PREENCHER_CLIENT_SECRET"
            }
          ]
        },
        "options": {}
      },
      "id": "authenticate-sankhya",
      "name": "HTTP Request | Authenticate Sankhya",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const at = $json.access_token || $json.accessToken || $json.token || (($json.data || {}).access_token) || '';\nconst ra = $json.authorization || $json.Authorization || (($json.data || {}).authorization) || '';\nconst authorization = ra || (at ? (String(at).startsWith('Bearer ') ? String(at) : 'Bearer ' + at) : '');\nif (!authorization) throw new Error('Bearer Sankhya ausente');\nreturn [{ json: {\n  source_code: 'romaneio_sankhya_webhook',\n  workflow_name: 'PCP | 15A | Sankhya | Ordens de Carga Native',\n  authorization,\n  list_url: 'https://api.sankhya.com.br/v1/logistica/ordens-carga',\n  pedidos_ordem_tpl: 'https://api.sankhya.com.br/v1/logistica/empresas/{emp}/ordens-carga/{id}/pedidos',\n  pedidos_venda_url: 'https://api.sankhya.com.br/v1/vendas/pedidos',\n  pedidos_page: 1,\n  max_orders: 25,\n  include_empty_items: false,\n  only_pending: true,\n  exclude_status: ['entregue', 'finalizada', 'finalizado', 'fechada', 'fechado', 'cancelada', 'cancelado', 'concluida', 'concluido']\n}}];"
      },
      "id": "build-config",
      "name": "Build Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.list_url + '?page=0' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.authorization }}"
            }
          ]
        },
        "options": {}
      },
      "id": "list-ordens",
      "name": "HTTP Request | Lista Ordens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Build Config').first().json;\nconst payload = $input.first().json;\nfunction cleanText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim();\n}\nfunction extractOrders(rawPayload) {\n  if (Array.isArray(rawPayload)) {\n    for (const entry of rawPayload) {\n      const nested = extractOrders(entry);\n      if (nested.length) return nested;\n    }\n    return [];\n  }\n  if (rawPayload && typeof rawPayload === 'object') {\n    if (Array.isArray(rawPayload.ordensCarga)) {\n      return rawPayload.ordensCarga.filter((item) => item && typeof item === 'object');\n    }\n    for (const key of ['data', 'items', 'results', 'records', 'content', 'rows', 'value', 'response']) {\n      if (Array.isArray(rawPayload[key])) {\n        return rawPayload[key].filter((item) => item && typeof item === 'object');\n      }\n    }\n  }\n  return [];\n}\nfunction buildPedidosOrdemUrl(template, empresa, ordem) {\n  return template\n    .replace('{emp}', encodeURIComponent(empresa))\n    .replace('{id}', encodeURIComponent(ordem));\n}\nconst ordensCarga = extractOrders(payload);\nconst outputs = [];\nfor (const order of ordensCarga) {\n  if (outputs.length >= Number(cfg.max_orders || 0)) break;\n  const emp = cleanText(order.codigoEmpresa);\n  const id = cleanText(order.codigoOrdemCarga || order.codigo || order.codOrdemCarga);\n  if (!emp || !id) continue;\n  if (cfg.only_pending) {\n    const sit = cleanText(order.situacao || order.status || order.statusOrdemCarga).toLowerCase();\n    if (sit && cfg.exclude_status.some((status) => sit.includes(cleanText(status).toLowerCase()))) continue;\n  }\n  outputs.push({ json: {\n    authorization: cfg.authorization,\n    source_code: cfg.source_code,\n    workflow_name: cfg.workflow_name,\n    include_empty_items: Boolean(cfg.include_empty_items),\n    pedidos_page: Number(cfg.pedidos_page || 1),\n    pedidos_venda_url: cfg.pedidos_venda_url,\n    pedidos_ordem_url: buildPedidosOrdemUrl(cfg.pedidos_ordem_tpl, emp, id),\n    order_row: order,\n    codigo_empresa: emp,\n    codigo_ordem_carga: id\n  }});\n}\nreturn outputs;"
      },
      "id": "expand-ordens",
      "name": "Expand Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.pedidos_ordem_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.authorization }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "get-pedidos",
      "name": "HTTP Request | Pedidos da Ordem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "position": [
        280,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sourceRows = $('Expand Orders').all();\nconst responseRows = $input.all();\nfunction cleanText(value) {\n  return String(value == null ? '' : value).replace(/\\s+/g, ' ').trim();\n}\nfunction parseNumber(value) {\n  if (value == null || value === '') return 0;\n  if (typeof value === 'number') return value;\n  let text = cleanText(value);\n  if (!text) return 0;\n  if (text.includes(',') && text.includes('.')) {\n    if (text.lastIndexOf(',') > text.lastIndexOf('.')) {\n      text = text.replace(/\\./g, '').replace(',', '.');\n    } else {\n      text = text.replace(/,/g, '');\n    }\n  } else {\n    text = text.replace(',', '.');\n  }\n  const parsed = Number(text);\n  return Number.isFinite(parsed) ? parsed : 0;\n}\nfunction parseDateTime(value, fallback) {\n  const text = cleanText(value);\n  if (!text) return fallback;\n  const direct = new Date(text);\n  if (!Number.isNaN(direct.getTime())) return direct.toISOString();\n  const match = text.match(/^(\\d{2})\\/(\\d{2})\\/(\\d{4})(?:\\s+(\\d{2}):(\\d{2})(?::(\\d{2}))?)?$/);\n  if (match) {\n    const [, dd, mm, yyyy, hh = '00', mi = '00', ss = '00'] = match;\n    return new Date(Date.UTC(Number(yyyy), Number(mm) - 1, Number(dd), Number(hh), Number(mi), Number(ss))).toISOString();\n  }\n  return fallback;\n}\nfunction buildEventTimestamp(dateValue, timeValue, fallback) {\n  const dateText = cleanText(dateValue);\n  const timeText = cleanText(timeValue) || '00:00';\n  return dateText ? parseDateTime(dateText + ' ' + timeText, fallback) : fallback;\n}\nfunction normalizeHttpBody(body) {\n  if (typeof body === 'string') {\n    try {\n      return JSON.parse(body);\n    } catch (error) {\n      return { raw_body: body };\n    }\n  }\n  return body && typeof body === 'object' ? body : {};\n}\nfunction extractPedidoList(payload) {\n  if (Array.isArray(payload)) {\n    for (const entry of payload) {\n      const nested = extractPedidoList(entry);\n      if (nested.length) return nested;\n    }\n    return [];\n  }\n  if (payload && typeof payload === 'object') {\n    for (const key of ['pedidos', 'items', 'results', 'data']) {\n      if (Array.isArray(payload[key])) {\n        return payload[key].filter((item) => item && typeof item === 'object');\n      }\n    }\n  }\n  return [];\n}\nfunction extractRecords(payload) {\n  if (Array.isArray(payload)) {\n    for (const entry of payload) {\n      const nested = extractRecords(entry);\n      if (nested.length) return nested;\n    }\n    return [];\n  }\n  if (payload && typeof payload === 'object') {\n    for (const key of ['registros', 'records', 'items', 'results', 'data']) {\n      if (Array.isArray(payload[key])) {\n        return payload[key].filter((item) => item && typeof item === 'object');\n      }\n    }\n  }\n  return [];\n}\nfunction normalizeItem(rawItem, pedido) {\n  const sku = cleanText(rawItem.sku || rawItem.codigoProduto || rawItem.codProduto || ((rawItem.produto || {}).codigo) || ((rawItem.produto || {}).codigoProduto) || '');\n  const descricao = cleanText(rawItem.descricao || rawItem.descricaoProduto || rawItem.nomeProduto || ((rawItem.produto || {}).descricao) || ((rawItem.produto || {}).nome) || '');\n  const unidade = cleanText(rawItem.unidade || rawItem.unidadeMedida || rawItem.siglaUnidade || 'UN') || 'UN';\n  const quantidade = parseNumber(rawItem.quantidade || rawItem.qtd || rawItem.quantidadeTotal || rawItem.qtdTotal || rawItem.quantidadeSeparada || 0);\n  const quantidadeNeg = parseNumber(rawItem.quantidade_neg || rawItem.quantidadeNeg || rawItem.quantidadeNegociada || rawItem.qtdNegociada || quantidade);\n  const quantidadeVol = parseNumber(rawItem.quantidade_vol || rawItem.quantidadeVol || rawItem.quantidadeVolume || rawItem.qtdVolume || 0);\n  const quantityTotal = Math.max(quantidade, quantidadeNeg + quantidadeVol);\n  if (!sku && !descricao) return null;\n  const produto = cleanText(sku && descricao ? sku + ' - ' + descricao : (descricao || sku));\n  return {\n    sku,\n    descricao: descricao || produto,\n    produto,\n    unidade,\n    tipo_produto: cleanText(rawItem.tipo_produto || rawItem.tipoProduto || 'PRODUTO ACABADO') || 'PRODUTO ACABADO',\n    quantidade: Number((quantidade || quantityTotal).toFixed(6)),\n    quantidade_neg: Number(quantidadeNeg.toFixed(6)),\n    quantidade_vol: Number(quantidadeVol.toFixed(6)),\n    quantity_total: Number(quantityTotal.toFixed(6)),\n    valor_unitario: Number(parseNumber(rawItem.valorUnitario || rawItem.vlrUnitario || 0).toFixed(6)),\n    valor_total: Number(parseNumber(rawItem.valorTotal || rawItem.vlrTotal || 0).toFixed(6)),\n    codigo_nota: cleanText(pedido.codigoNota || pedido.codigo_nota || pedido.codigoPedido || ''),\n    numero_nota: cleanText(pedido.numeroNota || pedido.numero_nota || pedido.numeroPedido || ''),\n    sequencia: Number(rawItem.sequencia || 0),\n    cfop: cleanText(rawItem.cfop || ''),\n    ncm: cleanText(rawItem.ncm || '')\n  };\n}\nfunction hashText(text) {\n  let hash = 0;\n  for (let index = 0; index < text.length; index += 1) {\n    hash = ((hash << 5) - hash) + text.charCodeAt(index);\n    hash |= 0;\n  }\n  return Math.abs(hash).toString(16);\n}\nconst outputs = [];\nfor (let index = 0; index < sourceRows.length; index += 1) {\n  const source = ((sourceRows[index] || {}).json) || {};\n  const rawResponse = ((responseRows[index] || {}).json) || {};\n  const payload = normalizeHttpBody(rawResponse.body !== undefined ? rawResponse.body : rawResponse);\n  const order = source.order_row || {};\n  const pedidosDaOrdem = extractPedidoList(payload);\n  const pedidosVendaLookupResults = [];\n  const pedidosDetalhe = [];\n  for (const pedidoRef of pedidosDaOrdem) {\n    const codigoPedido = cleanText(pedidoRef.codigoPedido || pedidoRef.codigoNota || pedidoRef.nunota || '');\n    const numeroPedido = cleanText(pedidoRef.numeroPedido || pedidoRef.numeroNota || '');\n    const candidates = [];\n    if (codigoPedido) candidates.push({ query_source: 'codigoPedido', param: 'codigoNota', value: codigoPedido });\n    if (numeroPedido) candidates.push({ query_source: 'numeroPedido', param: 'numeroNota', value: numeroPedido });\n    let matched = false;\n    for (const candidate of candidates) {\n      const queryUrl = source.pedidos_venda_url\n        + '?page=' + encodeURIComponent(String(source.pedidos_page || 1))\n        + '&codigoEmpresa=' + encodeURIComponent(source.codigo_empresa)\n        + '&' + candidate.param + '=' + encodeURIComponent(candidate.value);\n      try {\n        const response = await this.helpers.httpRequest({\n          method: 'GET',\n          url: queryUrl,\n          headers: {\n            accept: 'application/json',\n            Authorization: source.authorization\n          },\n          returnFullResponse: true,\n          ignoreHttpStatusErrors: true\n        });\n        const body = normalizeHttpBody(response.body);\n        const records = extractRecords(body);\n        pedidosVendaLookupResults.push({\n          codigo_pedido: codigoPedido,\n          numero_pedido: numeroPedido,\n          query_source: candidate.query_source,\n          query_param: candidate.param,\n          query_url: queryUrl,\n          status_code: response.statusCode,\n          ok: response.statusCode >= 200 && response.statusCode < 400,\n          record_count: records.length,\n          error: body.error || null\n        });\n        if (records.length) {\n          pedidosDetalhe.push(...records);\n          matched = true;\n          break;\n        }\n      } catch (error) {\n        pedidosVendaLookupResults.push({\n          codigo_pedido: codigoPedido,\n          numero_pedido: numeroPedido,\n          query_source: candidate.query_source,\n          query_param: candidate.param,\n          query_url: queryUrl,\n          ok: false,\n          error: String(error).slice(0, 200)\n        });\n      }\n    }\n    if (!matched && !candidates.length) {\n      pedidosVendaLookupResults.push({\n        codigo_pedido: codigoPedido,\n        numero_pedido: numeroPedido,\n        ok: false,\n        error: 'pedido_sem_identificador_consultavel'\n      });\n    }\n  }\n  const uniquePedidos = [];\n  const seenPedidos = new Set();\n  for (const pedido of pedidosDetalhe) {\n    const key = cleanText(pedido.codigoNota || pedido.codigoPedido || pedido.codigo_nota || pedido.nunota || pedido.numeroNota || pedido.numeroPedido || JSON.stringify(pedido));\n    if (!seenPedidos.has(key)) {\n      seenPedidos.add(key);\n      uniquePedidos.push(pedido);\n    }\n  }\n  const itens = [];\n  const pedidosCodigos = [];\n  let valorTotal = 0;\n  for (const pedido of uniquePedidos) {\n    pedidosCodigos.push(cleanText(pedido.codigoNota || pedido.numeroNota || pedido.codigoPedido || pedido.numeroPedido || ''));\n    valorTotal += parseNumber(pedido.valorNota || pedido.valorTotal || pedido.valor_total || 0);\n    const rawItems = Array.isArray(pedido.itens) ? pedido.itens : [];\n    for (const rawItem of rawItems) {\n      const normalized = normalizeItem(rawItem, pedido);\n      if (normalized && normalized.quantity_total > 0) itens.push(normalized);\n    }\n  }\n  if (!itens.length && !source.include_empty_items) {\n    continue;\n  }\n  const nowIso = new Date().toISOString();\n  const eventAt = buildEventTimestamp(order.dataPrevistaSaida || order.dataInicio || '', order.horaSaida || '', nowIso);\n  const fingerprint = JSON.stringify({\n    codigo: source.codigo_ordem_carga,\n    empresa: source.codigo_empresa,\n    pedidos: pedidosCodigos,\n    items: itens.length,\n    valor_total: valorTotal\n  });\n  const eventId = source.source_code + ':' + source.codigo_ordem_carga + ':' + eventAt.replace(/[:\\-]/g, '').replace('.000Z', 'Z') + ':' + hashText(fingerprint);\n  const firstPedido = uniquePedidos[0] || {};\n  outputs.push({ json: {\n    source_code: source.source_code,\n    workflow_name: source.workflow_name,\n    payload: {\n      event_id: eventId,\n      event_type: 'update',\n      event_at: eventAt,\n      romaneio: {\n        codigo: cleanText(source.codigo_ordem_carga),\n        empresa: cleanText(source.codigo_empresa),\n        status: cleanText(order.situacao || order.status || order.statusOrdemCarga || '1') || '1',\n        pedido: pedidosCodigos.filter(Boolean).join(','),\n        parceiro: cleanText(firstPedido.nomeDestinatario || firstPedido.nomeCliente || firstPedido.destinatario || order.nomeTransportadora || ''),\n        cidade: cleanText(order.nomeRegiao || firstPedido.cidade || ''),\n        valor_total: Number(valorTotal.toFixed(2)),\n        itens\n      }\n    },\n    meta: {\n      polling: true,\n      native_n8n: true,\n      workflow_name: source.workflow_name,\n      items_source: itens.length ? 'logistica_pedidos+vendas_pedidos' : 'none',\n      items_count: itens.length,\n      pedidos_ordem_url: source.pedidos_ordem_url,\n      pedidos_ordem_status_code: rawResponse.statusCode || null,\n      pedidos_ordem_ok: rawResponse.statusCode ? (rawResponse.statusCode >= 200 && rawResponse.statusCode < 400) : true,\n      pedidos_ordem_count: pedidosDaOrdem.length,\n      pedidos_ordem_payload: payload,\n      pedidos_venda_lookup_results: pedidosVendaLookupResults,\n      pedidos_count: uniquePedidos.length,\n      pedidos_codigos: pedidosCodigos.filter(Boolean),\n      order_row: order\n    }\n  }});\n}\nreturn outputs;"
      },
      "id": "normalize-event",
      "name": "Normalize Romaneio Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var esc = function(value) {\n  var raw = JSON.stringify(value == null ? {} : value);\n  return raw.replace(/\\\\\\\\/g, '\\\\\\\\\\\\\\\\').replace(/'/g, \"''\");\n};\nvar escT = function(v) { return String(v == null ? '' : v).replace(/\\\\\\\\/g, '\\\\\\\\\\\\\\\\').replace(/'/g, \"''\"); };\nvar rom = ($json.payload || {}).romaneio || {};\nvar eid = escT(($json.payload || {}).event_id || '');\nvar rc = escT(rom.codigo || '');\nvar ic = Array.isArray(rom.itens) ? rom.itens.length : 0;\nvar sql = 'select jsonb_build_object(\\n'\n  + \"  'event_id','\" + eid + \"',\\n\"\n  + \"  'romaneio_code','\" + rc + \"',\\n\"\n  + \"  'item_count',\" + ic + \",\\n\"\n  + \"  'ingest', ops.ingest_romaneio_event_payload(\\n\"\n  + \"    '\" + escT($json.source_code || 'romaneio_sankhya_webhook') + \"',\\n\"\n  + \"    '\" + esc($json.payload) + \"'::jsonb,\\n\"\n  + \"    '\" + esc($json.meta) + \"'::jsonb\\n\"\n  + \"  )\\n) as result;\";\nreturn { json: { ...$json, sql_query: sql } };"
      },
      "id": "build-sql",
      "name": "Build Romaneio SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql_query }}"
      },
      "id": "postgres-ingest",
      "name": "Postgres | Ingest Romaneio Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "var row = $json || {};\nvar result = row.result != null ? row.result : row;\nif (typeof result === 'string') { try { result = JSON.parse(result); } catch(e) { result = {status:'unknown'}; } }\nvar ingest = result.ingest || {};\nreturn { json: {\n  ok: ['processed','duplicate_ignored','noop'].indexOf(ingest.status || result.status) >= 0,\n  workflow: 'PCP | 15A | Sankhya | Ordens de Carga Native',\n  mode: 'polling_native', ...result, ingest: ingest\n}};"
      },
      "id": "build-result",
      "name": "Build Workflow Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        140
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request | Authenticate Sankhya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request | Authenticate Sankhya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Authenticate Sankhya": {
      "main": [
        [
          {
            "node": "Build Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config": {
      "main": [
        [
          {
            "node": "HTTP Request | Lista Ordens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Lista Ordens": {
      "main": [
        [
          {
            "node": "Expand Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Orders": {
      "main": [
        [
          {
            "node": "HTTP Request | Pedidos da Ordem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Romaneio Event": {
      "main": [
        [
          {
            "node": "Build Romaneio SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Romaneio SQL": {
      "main": [
        [
          {
            "node": "Postgres | Ingest Romaneio Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres | Ingest Romaneio Event": {
      "main": [
        [
          {
            "node": "Build Workflow Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request | Pedidos da Ordem": {
      "main": [
        [
          {
            "node": "Normalize Romaneio Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "simplified-v4",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
