scripts/n8n_workflow_romaneios.json
{
  "name": "Atualizar Planilha Romaneios",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "atualizar-romaneios",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst SA = {\n  email: 'pedidos-transportadora-inplast@planilha-pedidos-de-transporte.iam.gserviceaccount.com',\n  key: '-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDengo/NFrHxhBQ\\nWPbahjXy2b0jL54y+YmnIaauijID/OvEsdqupcR5v9edSK7No1FOiXArXdWHn6NU\\neCXLlgxi05CyTtGJMgzei2IIG1eA0waKINlxgQxcBNgivnBRe51TThRKFR/jSh4r\\ndIZcBJ20zhRKFdBwtakBqcchKsDQGxjWNCUXDo6M7mXcCDPvC3Jv04XGdCTkEm9l\\n9IEMy31JzauwHpaKXEzUcck6NCT+Iezg+rHM5sDPn81FK2SvfVntAuK+bDzDvA8Z\\ntqgHOt+bsVa/PHCLUWEh3OghO1N32P2+IUAvuM5/ntG3sJEWgcGu2YbgDaTMssj1\\no6EI5HiNAgMBAAECggEAB1I/QrDgGMMvdNUC2VD3TpNRSxTyfk6tSO0sZCpwq/zn\\nbBfv+d/DGcCba2AhOkDCwx3LWJcaF1RtX1vMMmku4xkoyxRt2Qs9AnH8ZAkyKYRx\\n1J0b9EWq4w6DD9wfftkykAjOAK8NK2vGmOXuJ/Hm6zP+gCk+KlbEcM+P7aFQUge3\\nuHNtUXOYAL2mhqzLS/GrZijmwHCkumXEtc9Aq/sJCdVF/6broaTeCmQxEJv8moG2\\nU/KynYSCVWEV7KwJEQPPHU4+l05cGiLTHVptmBWAPSMycNj1XqACX85R2I1GaS8X\\nOpweq9BZVCtEDSSkLDUjcKF2kneHwMgv9lQFr5qCqQKBgQD6Qtt2eEZPJSXbDrWl\\niToYSFV2E/oyfMIKrdSiGEbxFPCTVOKf7QOAdnV2y/JR4MWVyv6J0eh9ih9rRjHE\\ne/EwpzZspSAtXFYjs5W6Lz92BLab6PsAmskPLWeWYZVcP32ntZuJi4yhHqZ6PwjU\\ncIXZx/0HGST5Mqa3tReTDGDA1wKBgQDjuObDvK82Geh2BG+Kbhix/Sw8WwzuUhzz\\ndTgLOwaarFB8QU+vmWhbEIRD7JaQs0vt5DcUtpqCZNkSXcMtvFoF0w8RHTj309k4\\nbFv3cXfFciWePxYtZVKYIiTUxdmO4Y1Ac6fZA8i+2zzja0Un11Fi+vIhtyOixnni\\ntdHQRIxROwKBgQCzi0e8JOn8WiBgmpsDWgJN7YcyoX58vjjQRIoqiNRMncNDUEEO\\nj5JVlacMRaFh0KqwnuQiqG/tsSx9X+zQlEMjrrNDGuyM3pQGJQ8kdkVHPHZuQKXj\\ndykMNHz+zJ/FgN97dLVT5sRLy5uQVKzXDKta5TnI3+dAyXAGmGuDWfwIHQKBgGq9\\nXbV7+Oi0BiljdOD/MCYl1JlJ2GrRJG7dj/J7rWHMyUEk3/QgRTECMe0gtYaH9FxC\\nr6rO2Oer26/nMTh74/p87sAH4Y8Qxu3SpNz8W7a6BXYCfiOzLZ7PylHNl2eIw8vl\\nKlTnmC4V15mFy3mcTLLHi71P+a0vuSwSK5Giv97HAoGBAPYfPmyachRZrFa4Ligq\\nqoZh0JiQZpuk2hYHNSwkudtvHQ/+LWadWLhzfFURQ0vZ07Kqbba4sZsRtIP8Thfx\\n8Gag5xXPWM2q839a4KXibTRZieu31B7ze0H2rNsIPazwqw4BaUec2Xqdfx3xHB/q\\nvHgf8ZsGe0D4/3fBCCIbf5m1\\n-----END PRIVATE KEY-----\\n'\n};\n\nfunction b64url(data) {\n  return Buffer.from(data).toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = b64url(JSON.stringify({ alg: 'RS256', typ: 'JWT' }));\nconst claims = b64url(JSON.stringify({\n  iss: SA.email,\n  scope: 'https://www.googleapis.com/auth/spreadsheets',\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600\n}));\n\nconst unsigned = header + '.' + claims;\nconst signer = crypto.createSign('RSA-SHA256');\nsigner.update(unsigned);\nconst sig = signer.sign(SA.key, 'base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n\nreturn [{ json: { assertion: unsigned + '.' + sig } }];"
      },
      "id": "jwt",
      "name": "Gerar JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "urn:ietf:params:oauth:grant-type:jwt-bearer" },
            { "name": "assertion", "value": "={{ $json.assertion }}" }
          ]
        },
        "options": {}
      },
      "id": "token",
      "name": "Obter Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM/values/PROGRAMA%C3%87%C3%83O!A1:DZ300",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.access_token }}" }
          ]
        },
        "options": {}
      },
      "id": "read",
      "name": "Ler Planilha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const token = $('Obter Token').first().json.access_token;\nconst rawValues = $json.values || [];\nif (rawValues.length < 3) return [{ json: { error: 'Sem dados', token } }];\n\nconst row1 = rawValues[0] || [];\nconst row2 = rawValues[1] || [];\nconst romaneios = [];\n\nfor (let c = 2; c < row2.length; c += 2) {\n  const name = row2[c] || '';\n  if (!name || name === 'ESTOQUE INT') continue;\n  const dateStr = row1[c] || '';\n  let parsedDate = null;\n  if (dateStr) {\n    const p = String(dateStr).match(/(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})/);\n    if (p) parsedDate = new Date(parseInt(p[3]), parseInt(p[2])-1, parseInt(p[1]));\n    else { const s = Number(dateStr); if (s > 40000 && s < 60000) parsedDate = new Date((s-25569)*86400000); }\n  }\n  const items = {};\n  for (let r = 2; r < rawValues.length; r++) {\n    const val = rawValues[r][c];\n    if (val !== undefined && val !== '' && val !== null) {\n      const num = Number(val);\n      if (!isNaN(num) && num !== 0) items[r] = num;\n    }\n  }\n  romaneios.push({ date: parsedDate, name, items });\n}\n\nconst comData = romaneios.filter(r => r.date).sort((a,b) => a.date - b.date);\nconst semData = romaneios.filter(r => !r.date);\nconst sorted = [...comData, ...semData];\nconst totalRows = rawValues.length;\nconst totalCols = sorted.length * 2;\n\nfunction colLetter(n) { let r=''; while(n>0){n--;r=String.fromCharCode(65+n%26)+r;n=Math.floor(n/26);} return r; }\n\nconst grid = [];\nfor (let r = 0; r < totalRows; r++) grid.push(new Array(totalCols).fill(''));\n\nfor (let i = 0; i < sorted.length; i++) {\n  const rm = sorted[i], t = i*2;\n  if (rm.date) {\n    const dd=String(rm.date.getDate()).padStart(2,'0'), mm=String(rm.date.getMonth()+1).padStart(2,'0');\n    grid[0][t] = dd+'/'+mm+'/'+rm.date.getFullYear();\n  }\n  grid[1][t] = rm.name;\n  grid[1][t+1] = 'ESTOQUE INT';\n  const prev = t===0 ? 'B' : colLetter(3+t-1);\n  const curr = colLetter(3+t);\n  for (let r=2; r<totalRows; r++) {\n    if (rm.items[r] !== undefined) grid[r][t] = rm.items[r];\n    grid[r][t+1] = '='+prev+(r+1)+'-'+curr+(r+1);\n  }\n}\n\nconst endCol = colLetter(2+totalCols);\nconst clearEnd = colLetter(2+totalCols+20);\n\nreturn [{ json: {\n  token,\n  writeRange: 'PROGRAMAÇÃO!C1:'+endCol+totalRows,\n  clearRange: 'PROGRAMAÇÃO!C1:'+clearEnd+totalRows,\n  values: grid,\n  totalRomaneios: sorted.length,\n  comData: comData.length,\n  semData: semData.length,\n  totalRows,\n  names: sorted.map(r=>r.name)\n}}];"
      },
      "id": "process",
      "name": "Processar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM/values/{{ encodeURIComponent($json.clearRange) }}:clear",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" }
          ]
        },
        "options": {}
      },
      "id": "clear",
      "name": "Limpar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM/values/{{ encodeURIComponent($('Processar').first().json.writeRange) }}?valueInputOption=USER_ENTERED",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Processar').first().json.token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ range: $('Processar').first().json.writeRange, majorDimension: 'ROWS', values: $('Processar').first().json.values }) }}",
        "options": {}
      },
      "id": "write",
      "name": "Escrever",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Processar').first().json;\nconst n = input.totalRomaneios, rows = input.totalRows, token = input.token;\nconst G={red:0,green:1,blue:0}, LG={red:0.85,green:0.92,blue:0.83}, BL={red:0.56,green:0.67,blue:0.86}, BK={red:0,green:0,blue:0}, RD={red:1,green:0,blue:0};\nconst sid = 940477380;\nconst rq = [];\nfor(let i=0;i<n;i++){\n  const c=2+(i*2), hd=input.values[0][i*2]!=='';\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:0,endRowIndex:1,startColumnIndex:c,endColumnIndex:c+1},cell:{userEnteredFormat:{numberFormat:{type:'DATE',pattern:'dd/mm/yyyy'},backgroundColor:hd?G:LG,textFormat:{bold:true,fontSize:11,foregroundColor:BK},horizontalAlignment:'CENTER',verticalAlignment:'MIDDLE'}},fields:'userEnteredFormat(numberFormat,backgroundColor,textFormat,horizontalAlignment,verticalAlignment)'}});\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:0,endRowIndex:1,startColumnIndex:c+1,endColumnIndex:c+2},cell:{userEnteredFormat:{backgroundColor:LG,textFormat:{bold:true,foregroundColor:BK}}},fields:'userEnteredFormat(backgroundColor,textFormat)'}});\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:1,endRowIndex:2,startColumnIndex:c,endColumnIndex:c+1},cell:{userEnteredFormat:{backgroundColor:BL,textFormat:{bold:true,fontSize:10,foregroundColor:BK},horizontalAlignment:'CENTER',verticalAlignment:'MIDDLE',wrapStrategy:'WRAP'}},fields:'userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment,wrapStrategy)'}});\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:1,endRowIndex:2,startColumnIndex:c+1,endColumnIndex:c+2},cell:{userEnteredFormat:{backgroundColor:LG,textFormat:{bold:true,fontSize:10,foregroundColor:BK},horizontalAlignment:'CENTER',verticalAlignment:'MIDDLE'}},fields:'userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment)'}});\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:2,endRowIndex:rows,startColumnIndex:c+1,endColumnIndex:c+2},cell:{userEnteredFormat:{backgroundColor:LG,textFormat:{bold:true,foregroundColor:BK}}},fields:'userEnteredFormat(backgroundColor,textFormat)'}});\n}\nconst tc=2+n*2;\nrq.push({repeatCell:{range:{sheetId:sid,startRowIndex:2,endRowIndex:rows,startColumnIndex:2,endColumnIndex:tc},cell:{userEnteredFormat:{horizontalAlignment:'CENTER',verticalAlignment:'MIDDLE'}},fields:'userEnteredFormat(horizontalAlignment,verticalAlignment)'}});\nrq.push({addConditionalFormatRule:{rule:{ranges:[{sheetId:sid,startRowIndex:2,endRowIndex:rows,startColumnIndex:2,endColumnIndex:tc}],booleanRule:{condition:{type:'NUMBER_LESS',values:[{userEnteredValue:'0'}]},format:{backgroundColor:RD,textFormat:{foregroundColor:BK}}}},index:0}});\nreturn [{json:{token,requests:rq}}];"
      },
      "id": "format",
      "name": "Formatação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM:batchUpdate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: $json.requests }) }}",
        "options": {}
      },
      "id": "colors",
      "name": "Aplicar Cores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Processar').first().json;\nreturn [{json:{\n  status: '✅ Planilha atualizada!',\n  romaneios: d.totalRomaneios,\n  com_data: d.comData,\n  sem_data: d.semData,\n  link: 'https://docs.google.com/spreadsheets/d/1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM/edit'\n}}];"
      },
      "id": "resp",
      "name": "Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Gerar JWT", "type": "main", "index": 0 }]] },
    "Gerar JWT": { "main": [[{ "node": "Obter Token", "type": "main", "index": 0 }]] },
    "Obter Token": { "main": [[{ "node": "Ler Planilha", "type": "main", "index": 0 }]] },
    "Ler Planilha": { "main": [[{ "node": "Processar", "type": "main", "index": 0 }]] },
    "Processar": { "main": [[{ "node": "Limpar", "type": "main", "index": 0 }]] },
    "Limpar": { "main": [[{ "node": "Escrever", "type": "main", "index": 0 }]] },
    "Escrever": { "main": [[{ "node": "Formatação", "type": "main", "index": 0 }]] },
    "Formatação": { "main": [[{ "node": "Aplicar Cores", "type": "main", "index": 0 }]] },
    "Aplicar Cores": { "main": [[{ "node": "Resposta", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
