scripts/n8n_workflow_nativo.json
{
  "name": "Atualizar Planilha Romaneios (NATIVO)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "atualizar-romaneios",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e0d0728c-7f5b-4c2c-8a2b-d36c2e7b5f2d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "PROGRAMAÇÃO",
          "mode": "name"
        },
        "options": {
          "outputFormatting": false,
          "range": "A1:DZ300"
        }
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Ler Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// PROCESSAR DADOS\nconst items = $input.all();\nconst rawValues = items.map(i => Object.values(i.json));\nconst row1 = rawValues[0] || [];\nconst row2 = rawValues[1] || [];\nconst romaneios = [];\n\nfor (let c = 2; c < row2.length; c += 2) {\n  const name = row2[c] || '';\n  if (!name || name === 'ESTOQUE INT') continue;\n  const dateStr = row1[c] || '';\n  let parsedDate = null;\n  if (dateStr) {\n    const p = String(dateStr).match(/(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})/);\n    if (p) parsedDate = new Date(parseInt(p[3]), parseInt(p[2])-1, parseInt(p[1]));\n  }\n  const itemsRM = {};\n  for (let r = 2; r < rawValues.length; r++) {\n    const val = rawValues[r][c];\n    if (val !== undefined && val !== '' && val !== null) {\n      const num = Number(val);\n      if (!isNaN(num) && num !== 0) itemsRM[r] = num;\n    }\n  }\n  romaneios.push({ date: parsedDate, name, items: itemsRM });\n}\n\nconst sorted = [...romaneios.filter(r => r.date).sort((a,b) => a.date - b.date), ...romaneios.filter(r => !r.date)];\nconst totalRows = rawValues.length;\nconst totalCols = sorted.length * 2;\n\nfunction colLetter(n) { let r=''; while(n>0){n--;r=String.fromCharCode(65+n%26)+r;n=Math.floor(n/26);} return r; }\n\nconst grid = [];\nfor (let r = 0; r < totalRows; r++) grid.push(new Array(totalCols).fill(''));\n\nfor (let i = 0; i < sorted.length; i++) {\n  const rm = sorted[i], t = i*2;\n  if (rm.date) grid[0][t] = `${String(rm.date.getDate()).padStart(2,'0')}/${String(rm.date.getMonth()+1).padStart(2,'0')}/${rm.date.getFullYear()}`;\n  grid[1][t] = rm.name;\n  grid[1][t+1] = 'ESTOQUE INT';\n  const prev = t===0 ? 'B' : colLetter(3+t-1), curr = colLetter(3+t);\n  for (let r=2; r<totalRows; r++) {\n    if (rm.items[r] !== undefined) grid[r][t] = rm.items[r];\n    grid[r][t+1] = `=${prev}${r+1}-${curr}${r+1}`;\n  }\n}\n\nreturn [{ json: {\n  writeRange: 'PROGRAMAÇÃO!C1:'+colLetter(2+totalCols)+totalRows,\n  clearRange: 'PROGRAMAÇÃO!C1:DZ'+totalRows,\n  values: grid,\n  totalRomaneios: sorted.length,\n  totalRows\n}}];"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Processar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "PROGRAMAÇÃO",
          "mode": "name"
        },
        "range": "={{ $json.clearRange }}"
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Limpar Colunas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [910, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "PROGRAMAÇÃO",
          "mode": "name"
        },
        "range": "={{ $node.Processar.json.writeRange }}",
        "options": {
          "valueInputOption": "USER_ENTERED"
        }
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Escrever Dados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Processar').first().json;\nconst n = input.totalRomaneios, rows = input.totalRows;\nconst G={red:0,green:1,blue:0}, LG={red:0.85,green:0.92,blue:0.83}, BL={red:0.56,green:0.67,blue:0.86}, BK={red:0,green:0,blue:0}, RD={red:1,green:0,blue:0};\nconst sid = 940477380;\nconst rq = [];\nfor(let i=0;i<n;i++){\n  const c=2+(i*2), hd = input.values[0][i*2] && input.values[0][i*2] !== '';\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:0,endRowIndex:1,startColumnIndex:c,endColumnIndex:c+1},cell:{userEnteredFormat:{numberFormat:{type:'DATE',pattern:'dd/mm/yyyy'},backgroundColor:hd?G:LG,textFormat:{bold:true,fontSize:11,foregroundColor:BK},horizontalAlignment:'CENTER',verticalAlignment:'MIDDLE'}},fields:'userEnteredFormat(numberFormat,backgroundColor,textFormat,horizontalAlignment,verticalAlignment)'}});\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:0,endRowIndex:1,startColumnIndex:c+1,endColumnIndex:c+2},cell:{userEnteredFormat:{backgroundColor:LG,textFormat:{bold:true,foregroundColor:BK}}},fields:'userEnteredFormat(backgroundColor,textFormat)'}});\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:1,endRowIndex:2,startColumnIndex:c,endColumnIndex:c+1},cell:{userEnteredFormat:{backgroundColor:BL,textFormat:{bold:true,fontSize:10,foregroundColor:BK},horizontalAlignment:'CENTER',verticalAlignment:'MIDDLE',wrapStrategy:'WRAP'}},fields:'userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment,wrapStrategy)'}});\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:1,endRowIndex:2,startColumnIndex:c+1,endColumnIndex:c+2},cell:{userEnteredFormat:{backgroundColor:LG,textFormat:{bold:true,fontSize:10,foregroundColor:BK},horizontalAlignment:'CENTER',verticalAlignment:'MIDDLE'}},fields:'userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment)'}});\n  rq.push({repeatCell:{range:{sheetId:sid,startRowIndex:2,endRowIndex:rows,startColumnIndex:c+1,endColumnIndex:c+2},cell:{userEnteredFormat:{backgroundColor:LG,textFormat:{bold:true,foregroundColor:BK}}},fields:'userEnteredFormat(backgroundColor,textFormat)'}});\n}\nconst tc=2+n*2;\nrq.push({repeatCell:{range:{sheetId:sid,startRowIndex:2,endRowIndex:rows,startColumnIndex:2,endColumnIndex:tc},cell:{userEnteredFormat:{horizontalAlignment:'CENTER',verticalAlignment:'MIDDLE'}},fields:'userEnteredFormat(horizontalAlignment,verticalAlignment)'}});\nrq.push({addConditionalFormatRule:{rule:{ranges:[{sheetId:sid,startRowIndex:2,endRowIndex:rows,startColumnIndex:2,endColumnIndex:tc}],booleanRule:{condition:{type:'NUMBER_LESS',values:[{userEnteredValue:'0'}]},format:{backgroundColor:RD,textFormat:{foregroundColor:BK}}}},index:0}});\nreturn [{json:{requests:rq}}];"
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Gerar Formatação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1sp9Y4aZIY427_8i_aY0jAGzLpK1GitoUynrWFnzc6cM:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ requests: $json.requests }) }}",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Aplicar Cores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{status:'✅ Planilha atualizada com sucesso!'}}];"
      },
      "id": "0e1f2a3b-4c5d-6e7f-8a9b-0c1d2e3f4a5b",
      "name": "Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Ler Planilha", "type": "main", "index": 0 }]] },
    "Ler Planilha": { "main": [[{ "node": "Processar", "type": "main", "index": 0 }]] },
    "Processar": { "main": [[{ "node": "Limpar Colunas", "type": "main", "index": 0 }]] },
    "Limpar Colunas": { "main": [[{ "node": "Escrever Dados", "type": "main", "index": 0 }]] },
    "Escrever Dados": { "main": [[{ "node": "Gerar Formatação", "type": "main", "index": 0 }]] },
    "Gerar Formatação": { "main": [[{ "node": "Aplicar Cores", "type": "main", "index": 0 }]] },
    "Aplicar Cores": { "main": [[{ "node": "Resposta", "type": "main", "index": 0 }]] }
  }
}
